/*Reset default styles*/

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

* { 
    text-decoration: none; /*we're doing this to remove any decoration from the page's text, e.g the line under links*/
}

/*removes the bullet points from the list itens. bullet points are a default style for unordered lists*/
li { list-style: none; }


/*<INDEX-MOBILE>*/
main {
    padding-top: 140px;
}

.banner {
    width: 100%;
    /*height: we want it to be the intire webpage height minus the header height*/
    /*height: 100vh; /*vh: viewheight. So the height of the banner will be 100% of the viewheight of the mobile device*/
    /*but, 100% of the view height will include the space of the header(120px) that is already taken by it.*/
    /*so the banner will get the viewheight, but the header will push it down because the first 120px it has already taken and we'll have to scroll down to see the rest of the banner*/
    /*we don't want that. We want the banner to taken the left space of the viewheight so we can use calc() to calculate this rest and assign it to the height of the banner*/
    
    /*calc() function performs a calculation to be used as the property value.*/
    height: calc(100vh - 120px); 

    /*sets one or more background images for an element.*/
    background-image: url(../images/banner5.jpg);
    /*By default, a background-image is placed at the top-left corner of an element, and repeated both vertically and horizontally if it do not cover all of its container.
      Tip: The background of an element is the total size of the element, including padding and border (but not the margin).
      Tip: Always set a background-color to be used if the image is unavailable.
    */
    background-repeat: no-repeat; /*Do not repeat the image if it doesn't cover all of the container*/
    background-position: center; /*center the image */
    background-size: cover; /*Resize the background image to cover the entire container*/

    display: table; /*the display behaviour will be like the one of a <table> element*/
}

.center-banner-text { /*we're gonna transform the banner display into a table and its text will be table cells. That way, it does not the device's screen the same effect will happen because if we just used margins for example the result could be different in different devices*/
    display: table-cell; /*!!*/
    /*we're vertical aligning the things (text) inside this div to the middle*/
    vertical-align: middle;
}

.banner h2 {
    font-family: 'Teko', sans-serif;
    font-size: 60px;
    color: #fff;
    line-height: 70px;
    text-align: center;
    text-shadow: 2px 2px 2px #111;
}

.banner h1 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    line-height: 40px;
    text-align: center;
    text-shadow: 2px 2px 3px #111;
}

.links div {
    margin: 20px;
    /*because we have 10px of margin on left and right*/
    width: calc(100% - 40px);
    height: 100px;
    background-color: #f2f2f2;
}

.links div a h3 {
    font-family: 'Teko', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

/*<INDEX-DESKTOP>*/
/*When the size of the screen be >= 1000px we are going to apply this changes on the code above*/
@media only screen and (min-width: 900px) {

    .banner {
        height: 400px;
    }

    .wrapper {
        width: 700px;
        margin: 0 auto;
        overflow: hidden;
    }

    .links {
        margin-top: 20px;
        overflow: hidden;
    }

    .links div {
        margin: 0px 10px 20px 10px;
        /*because we have 10px of margin on left and right*/
        height: 150px;
        background-color: #e3e3e3;
        float: left;
    }

    .squared-box {
        /*this do not take affect because the previous width styling has greater precedence for some reason. to override that we can use !important*/ 
        width: calc(25% - 20px) !important;
    }

    .rectangular-box {
        width: calc(50% - 20px) !important;
    }

    .links div a h3 {
        font-size: 28px;
        font-weight: 660;
        line-height: 150px;
    }
}

/*<PROJECTS-MOBILE>*/
.projects-links .wrapper h2 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 550;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0px;
}


.projects-links .wrapper div {
    width: 65%;
    height: 100px;
    margin: 20px auto;
    background-color: #e3e3e3;
}

.projects-links .wrapper .contact {
    width: calc(100% - 40px);
    height: 150px;
    border: 1px solid #111;
}

.projects-links .wrapper div p {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 100px;
    text-align: center;
}

.projects-links .wrapper .contact p {
    line-height: normal;
    font-weight: 550;
    padding-top: 47.4px;
}

.projects-links .wrapper .contact p + p {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

/*<PROJECTS-DESKTOP>*/
@media only screen and (min-width: 900px) {
    .projects-links .wrapper h2 {
        font-size: 45px;
        text-transform: uppercase;
        text-align: center;
        margin: 20px 0px;
    }

    .projects-links .wrapper div {
        float: left;
        width: calc(33.33% - 20px);
        height: 150px;
        margin: 0px 10px 20px 10px;
        background-color: #e3e3e3;
    }

    .projects-links .wrapper .contact {
        width: calc(100% - 20px);
        height: 150px;
        border: 1px solid #111;
    }

    .projects-links .wrapper div p {
        font-size: 25px;
        line-height: 150px;
    }

    .projects-links .wrapper .contact p {
        font-size: 27px;
        padding-top: 28.85px;
    }
    
    .projects-links .wrapper .contact p + p {
        font-size: 23px;  
    }
}

/*<ABOUT-ME-MOBILE*/
.presentation .wrapper {
    width: 80%;
    margin: 0px auto 20px;
}

.presentation .wrapper img {
    width: 100%;
    padding: 20px 0px;
}

.presentation .wrapper h2 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 550;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0px;
}

.presentation .wrapper p {
    text-align: justify;
    text-indent: 2em;
    font-size: 20px;
    color: #111;
}

/*<ABOUT-ME-DESKTOP*/
@media only screen and (min-width: 900px) {
    .presentation .wrapper {
        width: 700px;
    }

    .presentation .wrapper h2 {
        font-size: 45px;
    }
}

/*<PORTFOLIO-MOBILE*/
.wrapper .portfolio h2 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 550;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    margin: 20px 0px;
} 

.wrapper .portfolio-box {
    margin: 0px 20px 20px;
    /*because we have 10px of margin on left and right*/
    width: calc(100% - 40px);
    background-color: #f2f2f2;
}

.wrapper .portfolio h2 + .portfolio-box {
    padding-bottom: 20px;
}

.wrapper .portfolio-box h3 {
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    padding: 20px 0px 0px 0px;
}
.wrapper .portfolio-box h4 {
    font-family: 'Teko', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #111;
    padding: 20px 0px 10px 20px;
    text-decoration: underline;
}

.wrapper .portfolio-box ul {
    margin-left: 30px;
}

.wrapper .portfolio-box li {
    line-height: 30px;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    list-style: circle;
}

.wrapper .portfolio-box p {
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    margin-left: 30px;
}
.wrapper .portfolio-box #projects p {
    text-indent: 20px;
    margin: 0px;
    padding: 10px 20px 20px 20px;
}

/*<PORTFOLIO-DESKTOP*/
@media only screen and (min-width: 900px) {
    .wrapper .portfolio h2 {
        font-size: 45px;
    } 

    .wrapper .portfolio-box h3 {
        font-size: 40px;
    }
    .wrapper .portfolio-box h4 {
        font-size: 31px;
    }

    .wrapper .portfolio-box li {
        font-size: 25px;
    }
    
    .wrapper .portfolio-box p {
        font-size: 25px;
    }
}

/*<PROJECT-MOBILE*/
.wrapper h2 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    font-weight: 550;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin: 20px 0px;
} 

.wrapper .gallery img {
    width: calc(100% - 40px);
    margin: 0px 20px 20px;
}

.wrapper .info .description {
    margin: 0px 20px 20px;
}

.wrapper .info .description h3 {
    font-family: 'Teko', sans-serif;
    font-size: 23px;
    font-weight: 550;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.wrapper .info .description p {
    text-indent: 20px;
}

.wrapper .info .contact {
    width: calc(100% - 40px);
    height: 150px;
    background-color: #e3e3e3;
    margin: 0px 20px 20px 20px;
}

.wrapper .info .contact p {
    font-family: 'Teko', sans-serif;
    font-size: 28px;
    color: #111;
    text-align: center;
    font-weight: 550;
    padding-top: 47.4px;
}

.wrapper .info .contact p + p {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 500;
}

/*<PROJECT-DESKTOP*/
@media only screen and (min-width: 900px) {
    .wrapper h2 {
        font-size: 45px;
        letter-spacing: 4px;
        margin: 20px 0px;
    } 

    .wrapper .gallery img {
        width: 683px;
        margin: 0px 8.5px 20px 8.5px;
    }

    .wrapper .info .description {
        margin: 0px 8.5px 20px;
    }

    .wrapper .info .description h3 {
        font-size: 30px;

    }

    .wrapper .info .description p {
        column-count: 2;
        column-gap: 20px; 
    }

    .wrapper .info .contact {
        width: calc(100% - 17px);
        margin: 0px 8.5px 20px 8.5px;
    }

    .wrapper .info .contact p {
        font-size: 30px;
    }
    
    .wrapper .info .contact p + p {
        font-size: 25px;
    }
}